<div>
  We'll have a list of tasks here. You'll create them.
</div>

<div>
  <form class="task-form">
    <mat-form-field class="task-full-width" appearance="fill">
      <mat-label>Task</mat-label>
      <input matInput placeholder="Clean out my garage." [ngModelOptions]="{standalone: true}" [(ngModel)]="taskDescription">
    </mat-form-field>
  </form>
</div>

<div>
  <mat-selection-list #tasks>
    <mat-list-option *ngFor="let task of dtoTasks">
      {{task.Description}}
    </mat-list-option>
  </mat-selection-list>  
</div>
<div>
  Options selected: {{tasks.selectedOptions.selected.length}}
</div>
