<div>
  <form class="task-form">
    <mat-form-field appearance="fill">
      <mat-label>Task</mat-label>
      <input matInput placeholder="Clean out my garage." [ngModelOptions]="{standalone: true}" [(ngModel)]="taskDescription">
    </mat-form-field>
    <span style="padding:5px"></span>
    <button mat-button (click)="createTask()">Create</button>
    <span style="padding:5px"></span>
    <button mat-button (click)="deleteAllTasks()">Delete All Tasks</button>
    <span style="padding:5px"></span>
    <button mat-button (click)="deleteSelectedTasks()" [disabled]="tasks.selectedOptions.selected.length == 0">Delete Selected Tasks</button>
  </form>
</div>

<div>
  <mat-selection-list [(ngModel)]="selectedTaskOptions" #tasks >
    <mat-list-option *ngFor="let task of Tasks" [value]="task">
      {{task.Description}}
    </mat-list-option>
  </mat-selection-list>  
</div>
<div>
  Options selected: {{tasks.selectedOptions.selected.length}}
</div>
