<div>
  <form class="task-form">
    <button mat-raised-button (click)="openDialog()" matTooltip="Create a task">Create</button>
    <span>&nbsp;</span>
    <button mat-raised-button (click)="deleteAllTasks()" matTooltip="Delete all tasks">Delete All</button>
    <span>&nbsp;</span>
    <button mat-raised-button (click)="deleteSelectedTasks()" matTooltip="Delete selected tasks" [disabled]="tasks.selectedOptions.selected.length == 0">Delete Selected</button>
    <span>&nbsp;</span>
    <button mat-raised-button (click)="editSelectedTask()" matTooltip="Edit selected task" [disabled]="tasks.selectedOptions.selected.length != 1">Edit Selected</button>
  </form>
</div>

<div>
  <mat-selection-list [(ngModel)]="selectedTaskOptions" #tasks >
    <mat-list-option checkboxPosition="before" *ngFor="let task of SortedTasks" [value]="task">
      {{task.Name}}
    </mat-list-option>
  </mat-selection-list>  
</div>
<div style="padding-top:20px">
  Tasks selected: {{tasks.selectedOptions.selected.length}}
</div>